/* Start Variables */
:root {
   --bg-color: #24353F;
   --txt-color: #17A2B8;
   --white-color: #FFF;
}

/* End Variables */
/* Start Global Rules */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
   font-family: "sans-serif", "Titillium Web";
   background-color: var(--bg-color);
}

/* End Global Rules */
header {
   position: absolute;
   width: 100%;
   box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

header .container {
   width: 80%;
   padding-block: 1rem;
   margin-inline: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .container h2 a {
   display: block;
   text-decoration: none;
   color: var(--txt-color);
   font-size: 30px;
   font-weight: 600;
}

header .container button {
   font-size: 22px;
   font-weight: 400;
   text-transform: capitalize;
   padding: .6rem;
   border-radius: 5px;
   border: 1px solid var(--txt-color);
   background-color: transparent;
   color: var(--txt-color);
   cursor: pointer;
   transition: all .4s ease;
}

header .container button:hover {
   background-color: var(--txt-color);
   box-shadow: 0 0 22px var(--txt-color);
   color: var(--white-color);
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

section .content {
   width: 50%;
   text-align: center;
   border-radius: 5px;
   padding: 5rem;
   box-shadow: 0 0 20px rgba(0, 0, 0, .25);
   color: var(--white-color);
   font-size: 40px;
   font-weight: 400;
   text-transform: capitalize;
}