/* Start Variables */
:root {
   --bg-color: #24353F;
   --txt-color: #17A2B8;
   --white-color: #fff;
}

/* End Variables */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: sans-serif, "Titillium Web";
}

header {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

header .container {
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 70%;
   height: 80px;
   font-size: 22px;
   color: var(--txt-color);
}

header .container button {
   padding: .6rem .5rem;
   border-radius: 5px;
   border: 1px solid var(--txt-color);
   outline: none;
   font-size: 18px;
   text-transform: capitalize;
   font-weight: 600;
   background-color: transparent;
   color: var(--white-color);
   cursor: pointer;
   transition: .8s ease;
}

header .container button:hover {
   background-color: var(--txt-color);
   box-shadow: 0 0 10px var(--txt-color);
}

header .container a {
   display: block;
   color: #fff;
   text-transform: capitalize;
   text-decoration: none;
   padding: 7px;
   border: 1px solid var(--txt-color);
   border-radius: 5px;
   transition: .7s ease;
}

header .container a:hover {
   background-color: var(--txt-color);
}

section {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   border-radius: 5px;
   box-shadow: 0px 10px 45px rgba(0, 0, 0, .25);
   padding: 2rem;
}

section h1 {
   color: var(--txt-color);
   font-size: 70px;
}