/* Start Variables */
:root {
   --bg-color: #24353F;
   --txt-color: #17A2B8;
   --white-color: #FFF;
}

/* End Variables */
/* Start Global Rules */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
   font-family: "sans-serif", "Titillium Web";
   background-color: var(--bg-color);
}

/* End Global Rules */
section {
   background-color: transparent;
   padding: 2rem;
   width: 50%;
   margin: 5rem auto 0;
   box-shadow: 0 0 20px rgba(0, 0, 0, .25);
   border-radius: 5px;
}

section h1 {
   color: var(--txt-color);
   font-size: 55px;
   font-weight: 500;
   text-align: center;
}

section form div {
   margin: 1rem 0 0;
   position: relative;
}

section form div i {
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   color: var(--txt-color);
}

section form input {
   width: 100%;
   padding: .5rem;
   border-radius: 5px;
   outline: none;
   border: 1px solid var(--txt-color);
   background-color: transparent;
   color: var(--white-color);
}

section form input::placeholder {
   color: var(--txt-color);
}

section form button {
   width: 100%;
   margin-block: 2rem;
   padding: .5rem 0;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   font-size: 20px;
   text-transform: capitalize;
   font-weight: 500;
   border: none;
   background-color: transparent;
   color: var(--white-color);
   box-shadow: 0 0 12px var(--txt-color);
   transition: all .7s ease;
}

section form button:hover {
   background-color: var(--txt-color);
}

section p {
   color: var(--white-color);
   text-align: center;
   font-weight: 500;
}

section p a {
   color: inherit;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .4s ease;
}

section p a:hover {
   color: var(--txt-color);
}

.d-block {
   display: block;
}

.d-none {
   display: none;
}